header {
    display: flex;
    justify-content: center;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

th {
    background-color: #e6e6e6;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    text-align: left;
}

.addSondage {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
